* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav {
    height: 72px;
    border: 1px solid #0061FF;
    /* test */
}

/* header */
header {
    border: 1px solid #B4D0E7;
}


.container-big {
    height: 644px;
    border: 1px solid #B4D0E7;
    /* test */

    max-width: 1047px;
    margin-left: auto;
    margin-right: auto;
}

/* fine header */

/* commons */

.container {
    border: 1px solid #058eff;
    /* test */

    max-width: 873px;
    min-width: calc(262px * 3);
    margin-left: auto;
    margin-right: auto;
}

.mtop {
    margin-top: 132px;
}

/* sezione tariffe */

#plan #vertical-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.price.column {
    height: 836px;
    border: 1px solid #D3D3D3;
    /* test */

    width: 262px;
}

.price.row {
    height: 228px;
    border: 1px solid #D3D3D3;
    /* test */
}

/* fine sezione tariffe */

/* sezione partner */
#partner .container {
    display: flex;
    gap: 42px;
}

#partner .container .column-big {

    height: 446px;
    border: 1px solid #ff5100;
    /* test */

    flex-grow: 1;
}

#partner .container .column-small {

    border: 1px solid #ff5100;
    /* test */

    width: 349px;
}

/* fine sezione partner */

/* sezione business */
#dropbox-business .features-group {
    border: 1px solid #6200ff;
    min-width: 791px;
    /* test */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px 0;
}

#dropbox-business .feature {
    border: 1px solid #6200ff;
    /* test */
}

#dropbox-business .feature img {
    display: block;
    width: 261px;
}


#dropbox-business .feature .text {
    height: 206px;
    border: 1px solid #6200ff;
    /* test */
}

#dropbox-business .business-numbers {
    border: 1px solid #6200ff;
    height: 210px;
    /* test */
}

/* fine sezione business */

/* sezione Designit (quadrati) */
#designit * {
    border: 1px solid #D5001F;
    /* test */

}

#designit .container-max {
    display: flex;
}

#designit .container-max .big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#designit .container-max .small-group {
    width: calc(100% / 3);
    height: calc(100vw / 3);


    display: flex;
    flex-wrap: wrap;
}

#designit .container-max .small-square {
    width: calc(100% / 2);
    height: calc(100vw / 6);
}









/* fine sezione Designit (quadrati) */