* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 74px;
    letter-spacing: 5%;

    margin-bottom: 60px;
}

h2 {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -3%;

    margin-bottom: 60px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

.btn {
    padding: 8px 16px;
    color: white;
    background-color: #0061FF;
    font-weight: 300;
}

.container {
    border: 1px solid #058eff;
    /* test */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-big {
    /* border: 1px solid #B4D0E7; */
    /* test */

    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.mtop {
    margin-top: 160px;
}

/* navbar */
nav {
    /* border: 1px solid #0061FF; */
    /* test */

    display: flex;
    justify-content: space-between;

    padding: 21px 20px;

}

nav .left,
nav .right {
    display: flex;
    align-items: center;
    gap: 40px;

}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}

nav a {
    color: black;
    font-weight: 300;
}

nav a:not(.btn):hover {
    border-bottom: 4px solid #0062ff65;
}

nav .btn:hover {
    background-color: #0049bd;
}

/* header */
header {
    background-color: #B4D0E7;
    font-weight: 300;
}

header .container-big {
    position: relative;
    bottom: -80px;
}


header .row {
    display: flex;
}

header .row .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;

    flex-grow: 1;
}

header .row .right {
    flex-grow: 2;
}

header img {
    width: 842px;

}

header .btn {
    display: inline;
}

header .btn:hover {
    background-color: #0049bd;
}


header .fa-arrow-down {
    padding-top: 40px;
    font-size: 40px;
}

/* fine header */

/* sezione tariffe */

#plan a,
#plan span,
#plan .btn,
#plan .billing {
    font-size: 14px;
}


#plan .container {
    border: none;
}

.custom-radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 32px;
    padding-top: 2px;
    cursor: pointer;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #DFDFE2;
    border-radius: 50%;
}

.custom-radio input:checked+.checkmark {
    background-color: #0061FF;
    border: 2px solid #0061FF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;

    height: 12px;

    border-radius: 50%;
    background: white;
}

.custom-radio input:checked+.checkmark:after {
    display: block;
}

#plan .container .billing {
    display: flex;
    align-items: center;
    gap: 48px;

    font-weight: 300;

    margin-bottom: 48px;
}

#plan #vertical-price {
    display: flex;
    justify-content: space-between;


    margin-bottom: 48px;

}

.price.column {
    border: 1px solid #D3D3D3;
    /* test */
    width: calc(100% / 3 - 50px / 3 * 2);
}

.price.column .type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-bottom: 1px solid #D3D3D3;

    font-weight: 300;
    padding: 12px;

}

.price.column .plan-choice {
    display: flex;
    flex-direction: column;

    border-top: 0;

    padding: 32px;
}

.price .plan-choice h3 {
    margin-bottom: 24px;
}

.price .plan-choice .cost {
    margin-bottom: 20px;
}

.price.column .plan-choice .cost-type {
    font-weight: 300;
    margin-bottom: 56px;
}

.price.column .plan-choice span {
    font-weight: 300;
}

.price.column .plan-choice .description {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    margin-bottom: 48px;
}

.price.column .plan-choice .users {
    display: flex;
    align-items: first baseline;
    column-gap: 6px;
}

.price.column .plan-choice .space {
    display: flex;
    align-items: first baseline;
    column-gap: 6px;
}

.price.column .plan-choice .sharing {
    display: flex;
    align-items: first baseline;
    column-gap: 6px;
}

.price.column .btn {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 36px;
}

.price .btn:hover {
    background-color: #0049bd;
}

.price.column a {
    color: #8149F5;
    text-decoration: underline;
}

.price.column .cta {
    margin-bottom: 40px;
}

.price.column hr {
    width: 48px;
    border: 1px solid #e5e5e6;
    margin-bottom: 52px;
}

.price.column .highlights {
    font-size: 14px;
    margin-bottom: 36px;
}

.price.column .features-group {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    margin-bottom: 16px;
}

.price.column .features-group .feature {
    display: flex;
    align-items: first baseline;
    column-gap: 4px;
}

.price.column .fa-check {
    color: #0061FF;
}

.price.row {
    /* height: 216px; */
    /* test */

    border-bottom: 1px solid #D3D3D3;
}

.price.row span,
.price.row .btn,
.price.row strong {

    font-size: 14px;
}

.price.row .type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border: 1px solid #D3D3D3;

    font-weight: 300;
    padding: 12px;
}

.price.row .plan-choice {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 80px;

    padding: 32px;

    border: 1px solid #D3D3D3;
    border-top: 0;
    border-bottom: 0;
}



.price.row .btn {
    white-space: nowrap;
}

.price.row .plan-choice strong {
    display: block;
}

.price.row .plan-choice span {
    font-weight: 300;
}

/* fine sezione tariffe */

/* sezione partner */
#partner .container {
    border: none;
    display: flex;
}

/* 
o dimensione fissa + flex grow
oppure due percentuali
 */

#partner .container img {
    max-width: 600px;
}

#partner .container .column-small {

    padding: 58px 46px;

    flex-grow: 1;
}

#partner .container .column-small h3 {
    margin-bottom: 20px;
}

#partner .container .column-small p {
    margin-bottom: 32px;

    font-weight: 300;
    font-size: 14px;
}

#partner .container .column-small .btn {

    display: inline-block;

    background-color: white;
    color: black;
    border: 1px solid black;

    font-weight: 300;
    font-size: 14px;
}

#partner .container .column-small .btn:hover {
    background-color: rgb(238, 238, 238);
}



/* fine sezione partner */

/* sezione business */

#dropbox-business .container {
    border: none;
}

#dropbox-business .features-group {
    /* border: 1px solid #6200ff; */
    /* min-width: 942px; */
    /* test */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#dropbox-business .feature {
    /* border: 1px solid #6200ff; */
    /* test */
    width: calc(100% / 3 - 50px / 3 * 2);
    margin-bottom: 40px;

}

#dropbox-business .feature img {
    display: block;
    width: 100%;
}

#dropbox-business .feature .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#dropbox-business .feature .text h3 {
    display: inline;
}

#dropbox-business .feature .text p {
    font-size: 14px;
    font-weight: 300;
}

#dropbox-business .business-numbers h2 {
    margin-bottom: 60px;
}

#dropbox-business a {
    font-weight: 300;
    font-size: 14px;
    color: #8149F5;
    text-decoration: underline;
}

/* fine sezione business */

/* sezione Designit (quadrati) */

#designit .container-max {
    display: flex;
}

#designit .container-max .big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);

    overflow-y: auto;
    overflow-x: hidden;

    padding: 50px;

    background-color: #f5f5f5;
}

#designit .container-max .big-square img {
    width: 271px;

    margin-bottom: 42px;

}

#designit .container-max .big-square hr {
    width: 108px;
    border: 1px solid #ECECED;

    margin-bottom: 42px;
}

#designit .container-max .big-square p {
    font-weight: 300;
}


#designit .container-max .small-group {
    width: calc(100% / 3);
    height: calc(100vw / 3);


    display: flex;
    flex-wrap: wrap;
}

#designit .container-max .small-square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s ease;

}

.small-square:hover {
    border-radius: 50%;
}

#designit .container-max .small-square img {
    filter: invert(1);
    width: 50%;
}

#cta {
    background-color: #B4D0E7;
}

#cta .container {

    border: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 138px 0;
}

#cta h2 {
    margin: 0;
    color: #620528;
}

#cta .btn {

    display: inline-block;

    background-color: white;
    color: black;

    padding: 12px 52px;

    font-weight: 300;
    font-size: 14px;
}

#cta .btn:hover {
    background-color: rgb(238, 238, 238);
}

/* fine sezione Designit (quadrati) */

/* sezione faq */
#faq .container {
    border: none;
    padding: 160px 0;
}

#faq h2 {
    margin-bottom: 60px;
}

#faq strong {
    font-size: 14px;
    font-weight: 700;
}

summary {

    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 40px 0px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #b1b1b1;
}


details p {
    padding: 40px 0px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
}

details:last-of-type {
    border-bottom: 1px solid #b1b1b1;
}



details[open] summary~* {
    animation: open 0.4s ease;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

details i {
    transition: .4s ease;
}

details[open] i {
    transform: rotate(180deg);
}

/* fine sezione faq */

/* footer */
footer {
    /* height: 570px; */
    /* test */
    color: white;
    background-color: black;
}

footer .links {
    display: flex;
    justify-content: space-between;
    column-gap: 96px;

    padding: 106px 0;
}

footer .links .row {
    /* height: 228px; */
    /* test */

    flex-grow: 1;
}

footer h3 {
    margin-bottom: 32px;
}

footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    font-size: 14px;
    font-weight: 300;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: white;
}

footer hr {
    border: 1px solid #949494;
    width: 120px;
}

footer .language {
    /* test */

    padding: 60px 0;

    font-size: 14px;
    font-weight: 300;
    color: #949494;
}

/* fine footer */