* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    padding: 8px 16px;
    color: white;
    background-color: #0061FF;
    font-weight: 300;
}

.container {
    border: 1px solid #058eff;
    /* test */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-big {
    /* border: 1px solid #B4D0E7; */
    /* test */

    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.mtop {
    margin-top: 160px;
}

/* navbar */
nav {
    /* border: 1px solid #0061FF; */
    /* test */

    display: flex;
    justify-content: space-between;

    padding: 21px 20px;

}

nav .left,
nav .right {
    display: flex;
    align-items: center;
    gap: 40px;

}


nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}

nav a {
    color: black;
    font-weight: 300;
}

/* header */
header {
    background-color: #B4D0E7;
    font-weight: 300;
}

header .container-big {
    position: relative;
    bottom: -80px;
}

header h1 {
    font-weight: 700;
    font-size: 74px;
    letter-spacing: 5%;

    margin-bottom: 60px;
}

header .row {
    display: flex;
}

header .row .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;

    flex-grow: 1;
}

header .btn {
    display: inline;
}

header .fa-arrow-down {
    padding-top: 40px;
    font-size: 40px;
}



header img {
    width: 842px;
}




/* fine header */


/* sezione tariffe */

/* #plan .container {
    min-width: calc(300px * 3 + 32px);
} */

#plan .container .billing {
    border: 1px solid #D3D3D3;
    /* test */

    height: 126px;
    margin-bottom: 48px;
}

#plan #vertical-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.price.column {
    height: 954px;
    border: 1px solid #D3D3D3;
    /* test */

    width: calc(100% / 3 - 50px / 3 * 2);
}

.price.row {
    height: 216px;
    border: 1px solid #D3D3D3;
    /* test */
}

/* fine sezione tariffe */

/* sezione partner */
#partner .container {
    display: flex;
    gap: 48px;
}

/* 
o dimensione fissa + flex grow
oppure due percentuali
 */

#partner .container .column-big {

    height: 512px;
    border: 1px solid #ff5100;
    /* test */

    flex-grow: 1;
}

#partner .container .column-small {

    border: 1px solid #ff5100;
    /* test */

    width: 350px;
}

/* fine sezione partner */

/* sezione business */
#dropbox-business .features-group {
    border: 1px solid #6200ff;
    min-width: 942px;
    /* test */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px 0;
}

#dropbox-business .feature {
    border: 1px solid #6200ff;
    /* test */
}

#dropbox-business .feature img {
    display: block;
    width: 300px;
}


#dropbox-business .feature .text {
    height: 246px;
    border: 1px solid #6200ff;
    /* test */
}

#dropbox-business .business-numbers {
    border: 1px solid #6200ff;
    height: 216px;
    /* test */
}

/* fine sezione business */

/* sezione Designit (quadrati) */
#designit * {
    border: 1px solid #D5001F;
    /* test */

}

#designit .container-max {
    display: flex;
}

#designit .container-max .big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#designit .container-max .small-group {
    width: calc(100% / 3);
    height: calc(100vw / 3);


    display: flex;
    flex-wrap: wrap;
}

#designit .container-max .small-square {
    width: calc(100% / 2);
    height: calc(100vw / 6);
}

#cta {
    border: 1px solid #D5001F;
    /* test */
}

#cta .container {
    border: 1px solid #D5001F;
    height: 360px;
    /* test */
}

/* fine sezione Designit (quadrati) */

/* sezione faq */
#faq .container {
    border: 1px solid #000000;
    height: 725px;
    /* test */
}

/* fine sezione faq */

/* footer */
footer {
    height: 570px;
    /* test */

    background-color: black;
}

footer .links {
    display: flex;
    justify-content: space-between;
    column-gap: 96px;

    padding: 106px 0;
}

footer .links .row {
    border: 1px solid white;
    height: 228px;
    /* test */

    flex-grow: 1;
}

footer hr {
    border: 2px solid white;
    width: 120px;
}

footer .language {
    border: 1px solid white;
    width: 96px;
    height: 18px;
    /* test */

    padding: 60px 0;

}

/* fine footer */